{% extends 'base.html' %}

{% block content %}
<h1>{{ object.title }}</h1>
<p>{{ object.body }}</p>
<p>Published: {{ object.pub_date|date }}</p>
<p>Expires: {{ object.exp_date|date }}</p>
<p>Author:
    {% if object.author is not None%}
    <a href={% url 'accounts:user-profile' pk=object.author.pk %}>{{ object.author }}</a>
    {% else %}
    {{ object.author}}
    {% endif %}
</p>

{% if request.user == object.author or request.user.is_staff %}
<h2>Actions</h2>
<ul>
    <li>
        <a href={% url 'noticeboard:delete' pk=object.pk %}>Delete notice</a>
    </li>
    <li>
        <a href={% url 'noticeboard:update' pk=object.pk %}>Update notice</a>
    </li>
</ul>
{% endif %}

{% endblock %}